body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  width: 80%;
  margin: 10px auto;
  display: block;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

p#result {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

p {
  margin-top: 20rem;
}
